<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="{$keywords}" />
        <meta name="description" content="{$description}" />
        <title>{$seo_title}</title>
        <link href="{STATIC_URL}eric/css/dgy.base.css" rel="stylesheet" type="text/css" />
        <link href="{STATIC_URL}eric/css/dgy.nav.css?v=2020040708" rel="stylesheet" type="text/css" />
        <link href="{STATIC_URL}eric/css/dgy.grid.css?v=2020041002" rel="stylesheet" type="text/css" />
	    <link rel="stylesheet" type="text/css" href="{STATIC_URL}plugin/swiper/css/swiper.min.css" />
        <script type="text/javascript" src="{STATIC_URL}eric/js/jquery-2.1.4.min.js"></script>
        <link href="//at.alicdn.com/t/font_958938_n3j31its8x.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="{STATIC_URL}plugin/layer/layer.js"></script>
        <script type="text/javascript" src="{STATIC_URL}js/yzm-front.js"></script>
        <script type="text/javascript" src="{STATIC_URL}plugin/swiper/js/swiper.min.js"></script>
    </head>

    <body class="bgf6">
        <!-- 头部导航 -->
        {m:include "index","header"}
        
        <!-- banner space -->
        <div class="container">
            <div class="launchBannerGrid mb20">
                <div class="bannerGroup">
                    <div class="swiper-container" id="indexFocus">
                        <div class="bannerGroup swiper-wrapper">
                            <!-- 
                                此处仅为功能演示，主题模版安装调试完毕后，可删除当前演示内容！！！
                                演示功能：轮播图（可删除） START
                            -->
                            <a class="item swiper-slide" href="https://www.duoguyu.com" target="_blank">
			      		        <img class="img" src="https://www.duoguyu.com/dist/images/banner-eric.jpg" alt="多骨鱼Eric模版主题" title="多骨鱼Eric模版主题" />
                            </a>
                            <a class="item swiper-slide" href="https://www.yzmcms.com" target="_blank">
			      		        <img class="img" src="https://www.duoguyu.com/dist/images/banner-yzmcms.jpg" alt="骄傲的使用了轻量级开源管理程序YzmCMS" title="骄傲的使用了轻量级开源管理程序YzmCMS" />
                            </a>
                            <!-- 演示功能：轮播图（可删除） END -->
                            <!--
                                此处调用 轮播图 - 轮播分类typeid=1的内容（默认无轮播分类，可新增轮播分类或在调用时移除该分类）
                                设置路径：模块管理 -> 轮播图管理 -> 添加轮播图
                                建议尺寸：900x310
                            -->
                            {m:banner field="title,image,url,typeid,status" typeid="1" limit="4"}
                            {loop $data $v}
                            <a class="item swiper-slide" href="{$v[url]}" target="_blank">
			      		        <img class="img" src="{$v[image]}" alt="{$v[title]}" title="{$v[title]}" />
                            </a>
                            {/loop}
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                
                <!-- 扩展 -->
                <div class="extendGroup">
                    <div class="widgetWrapper p0">
                        <div class="adBox">
                            <!-- 
                                演示配图，可替换成自己的配图
                                建议尺寸：280x185
                            -->
                            <a href="https://www.duoguyu.com/" target="_blank" title="扫码体验小程序"><img src="https://www.duoguyu.com/dist/images/wechat-miniapp.jpg"></a>
                        </div>
                    </div>
                    <!-- 搜索框 -->
                    <!-- searchWrapper -->
                    <div class="widgetWrapper">
                        <div class="searchWrapper extend">
                            <div class="searchBox">
                                <form method="get" action="{U('search/index/init')}" target="_blank" onsubmit="return checkSearch()">
                                    <div class="searchtxt">
                                        <input type="hidden" name="modelid" value="1" />
                                        <input name="q" type="text" placeholder="请输入关键词进行搜索。" id="searchInput" class="searchInput"/>
                                    </div>
                                    <button class="searchBtn" type="submit"><i class="iconfont icondgy icon-iconset0456"></i></button>
                                </form>
                            </div>
                            <div class="tagBox">
                                <!-- 
                                    此处调用tag标签 
                                    设置路径：内容管理 -> TAG管理 -> 添加TAG
                                -->
                                {m:tag field="id,tag,total" order="RAND()" limit="6"}
                                {if $data}
                                {loop $data $v}
                                <a href="{tag_url($v['id'])}" class="tag" target="_blank">{$v[tag]}</a>
                                {/loop}
                                {else}
                                <span>标签演示，后台添加tag标签后，显示tag标签</span>
                                {/if}
                            </div>
                        </div>
                        <script type="text/javascript">
                        	function checkSearch(){
                        	    var searchInput = $('#searchInput').val();
                        	    var searchVal = $.trim(searchInput);
                        	    if(searchVal == ''){
                        			layer.msg("哎呀，你好像忘记输入搜索内容了！");
                        			return false;
                        	    }
                        	    if(searchVal.length < 2){
                        			layer.msg("搜索关键字至少需要2个字哟！");
                        			return false;
                        	    }
                        		return true;
                        	}
                        </script>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
        
        <!-- 特别推荐区域 -->
        <div class="container">
            <div class="flexBetweenMode">
                <div class="flexWrapper">
                    <div class="widgetWrapper mb20">
                        <div class="titleWrapper">
                            <h3 class="title"><b>推荐</b></h3>
                        </div>
                        <div class="layoutWrapper">
                            <!-- 
                                此处调用 推荐 可自行修改调用的flag
                                设置路径：内容管理 -> 内容属性 flag=4
                                内容属性：
                                    1,置顶; 2,头条; 3,特荐; 4,推荐; 5,热点; 6,幻灯; 7,跳转;
                                当前属性：
                                    4,推荐
                            -->
        					{m:lists field="title,url,catid,thumb,inputtime" modelid="1" order="id DESC" flag="4" limit="6"}
                		    {loop $data $k=>$v}
                            {if $k < 1}
                            <div class="fullBox">
                                <a href="{$v[url]}" title="{$v[title]}" target="_blank">
                                    <img class="bannerImg" src="{get_thumb($v['thumb'])}" alt="{$v[title]}" />
                                    <h4 class="title">{str_cut($v['title'], 140)}</h4>
                                    <p>{get_catname($v['catid'])} · {format_time($v['inputtime'])}</p>
                                </a>
                            </div>
                            {else}
                            <div class="fullBox item">
                                <a href="{$v[url]}" title="{$v[title]}" target="_blank">
                                    <img class="banner" src="{get_thumb($v['thumb'])}" alt="{$v[title]}" />
                                    <h4 class="title">{str_cut($v['title'], 140)}</h4>
                                    <p>{get_catname($v['catid'])} · {format_time($v['inputtime'])}</p>
                                </a>
                            </div>
                            {/if}
        					{/loop}
                        </div>
                    </div>
                    
                    <!-- **** AD START **** -->
                    <div class="widgetWrapper p0 mb20">
                        <div class="adBox">
                            <!--
                                此处调用 广告内容
                                设置路径：
                                    模块管理 -> 广告管理 -> 添加广告
                                调用说明：
                                    调用方式：参见后台系统中 广告管理说明
                            -->
                            <a href="https://www.duoguyu.com/" target="_blank" title="演示广告，可删除或在后台设置广告"><img src="https://www.duoguyu.com/dist/images/ad-demo-2.jpg"></a>
                        </div>
                    </div>
                    <!-- **** AD END **** -->
                    
                    <div class="widgetWrapper mb20">
                        <!-- 
                            此处调用 栏目ID为1的内容
                        -->
                        <div class="titleWrapper">
                            <h3 class="title"><b>{get_catname(1)}</b></h3>
                        </div>
                        <ul class="articleBox">
        					{m:lists field="title,url,catid,thumb,inputtime" order="id DESC" catid="1" limit="5"}
                		    {loop $data $k=>$v}
                            <li>
                                <a href="{$v[url]}" title="{$v[title]}" target="_blank">
                                <h4>{str_cut($v['title'], 140)}</h4>
                                <p>{get_catname($v['catid'])} · {format_time($v['inputtime'])}</p>
                                </a>
                            </li>
        					{/loop}
                        </ul>
                        <div class="widgetWrapper p0">
                            <div class="adBox">
                                <!--
                                    此处调用 广告内容
                                    设置路径：
                                        模块管理 -> 广告管理 -> 添加广告
                                    调用说明：
                                        调用方式：参见后台系统中 广告管理说明
                                -->
                                <a href="https://www.duoguyu.com/" target="_blank" title="演示广告，可删除或在后台设置广告"><img src="https://www.duoguyu.com/dist/images/ad-demo-2.jpg"></a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 最新留言 -->
                    <div class="widgetWrapper mb20">
                        <div class="titleWrapper">
                            <h3 class="title"><b>最新留言</b></h3>
                        </div>
                        <div class="commentWrapper">
                            <ul class="itemUl">
                                {m:guestbook limit="3"}
                                {loop $data $v}
                                <li class="item">
                                    <div class="username"># {$v[name]} <span>{format_time($v['booktime'])}</span></div>
                                    <div class="commentGroup">
                                        <p class="detailText">{$v['bookmsg']}</p>
                                    </div>
                                    {loop $v['admin_reply'] $v}
                                    <div class="otherInfo"><strong style="color:#409eff">{$site[site_name]}</strong>：{$v[bookmsg]}</div>
                                    {/loop}
                                </li>
                                {/loop}
                                <li>
                                    <a href="/about/" target="_blank" class="moreBtn">我要留言</a>
                                </li>
                                {if empty($data)}<li class="tips">暂无留言</li>{/if}
                            </ul>
                        </div>
                    </div>
                    
                    
                </div>
                
                <div class="flexWrapper mid">
                    
                    <div class="widgetWrapper mb20">
                        <div class="focusBox">
                            <!-- 
                                此处调用 置顶 可自行修改调用的flag
                                设置路径：内容管理 -> 内容属性 flag=1
                                内容属性：
                                    1,置顶; 2,头条; 3,特荐; 4,推荐; 5,热点; 6,幻灯; 7,跳转;
                                当前属性：
                                    1,置顶
                            -->
        					{m:lists field="title,url,catid,thumb,inputtime" modelid="1" order="id DESC" flag="1" limit="1"}
                		    {loop $data $v}
                            <a href="{$v[url]}" title="{$v[title]}" target="_blank">
                            <div class="topTag">
                                <i class="iconfont icon-m5"></i>
                            </div>
                            <div class="focus">
                                <h4 class="title">#{get_catname($v['catid'])}# {$v[title]}</h4>
                                <img class="img" src="{get_thumb($v['thumb'])}" alt="{$v[title]}" />
                            </div>
                            <p class="textRight">{get_catname($v['catid'])} · {format_time($v['inputtime'])}</p>
                            </a>
        					{/loop}
                        </div>
                    </div>
                    
                    <!-- 最新内容 -->
    				{m:lists field="id,title,url,inputtime,catid,thumb,description,click" modelid="1" order="id DESC" limit="10"}
        		    {loop $data $v}
        		    
                    <div class="richTextItem mb20">
                        <a href="{$v[url]}" title="{$v[title]}" target="_blank">
                        {if !empty($v['thumb'])}
                            <div class="tagWrapper">
                                {if $v['catid'] == 19}
                                <div class="tagBox red"><span class="i">#</span>{get_catname($v['catid'])}</div>
                                {elseif $v['catid'] == 6}
                                <div class="tagBox green"><span class="i">#</span>{get_catname($v['catid'])}</div>
                                {else}
                                <div class="tagBox"><span class="i">#</span>{get_catname($v['catid'])}</div>
                                {/if}
                            </div>
                            <h4 class="title">{str_cut($v['title'], 140)}</h4>
                            <div class="article">
                                <img class="focus" src="{$v[thumb]}" alt="{$v[title]}" />
                                <div class="textBox">
                                    <p class="mb15">{str_cut($v['description'], 180)}</p>
                                    <p>
                                        {format_time($v['inputtime'])} · 
            		 					{php $aid = $v['id'];}
             							{m:get sql="SELECT id,tag FROM yzmcms_tag_content AS a LEFT JOIN yzmcms_tag AS b ON a.tagid=b.id WHERE aid=$aid" limit="3" return="tag_data"}
             							{loop $tag_data $val}	
             							<a href="{tag_url($val['id'])}" class="tag" target="_blank" >{$val[tag]}</a>
             							{/loop}
             						</p>
                                </div>
                            </div>
                        {else}
                            <div class="tagWrapper">
                                {if $v['catid'] == 19}
                                <div class="tagBox red"><span class="i">#</span>{get_catname($v['catid'])}</div>
                                {elseif $v['catid'] == 6}
                                <div class="tagBox green"><span class="i">#</span>{get_catname($v['catid'])}</div>
                                {else}
                                <div class="tagBox"><span class="i">#</span>{get_catname($v['catid'])}</div>
                                {/if}
                            </div>
                            <h4 class="title">{str_cut($v['title'], 140)}</h4>
                            <div class="article detail">
                                <p class="mb15">{str_cut($v['description'], 180)}</p>
                                <p>
                                    {format_time($v['inputtime'])} · 
        		 					{php $aid = $v['id'];}
         							{m:get sql="SELECT id,tag FROM yzmcms_tag_content AS a LEFT JOIN yzmcms_tag AS b ON a.tagid=b.id WHERE aid=$aid" limit="3" return="tag_data"}
         							{loop $tag_data $val}	
         							<a href="{tag_url($val['id'])}" class="tag" target="_blank" >{$val[tag]}</a>
         							{/loop}
         						</p>
                            </div>
                        {/if}
                        </a>
                    </div>
                    
    		        {/loop}
    		        
                </div>
                
                <div class="flexWrapper">
                    
                    <div class="widgetWrapper p0 mb20">
                        <div class="adBox">
                            <!--
                                此处调用 广告内容
                                设置路径：
                                    模块管理 -> 广告管理 -> 添加广告
                                调用说明：
                                    调用方式：参见后台系统中 广告管理说明
                            -->
                            <a href="https://www.duoguyu.com/" target="_blank" title="演示广告，可删除或在后台设置广告"><img src="https://www.duoguyu.com/dist/images/ad-demo-2.jpg"></a>
                        </div>
                    </div>
                    
                    <div class="widgetWrapper mb20">
                        <!-- 
                            此处调用 栏目ID为2的内容
                        -->
                        <div class="titleWrapper">
                            <h3 class="title"><b>{get_catname(2)}</b></h3>
                        </div>
                        <ul class="articleBox mb20">
        					{m:lists field="title,url,catid,thumb,inputtime" modelid="1" order="id DESC" catid="2" limit="5"}
                		    {loop $data $k=>$v}
                            <li>
                                <a href="{$v[url]}" title="{$v[title]}" target="_blank">
                                {if $k < 1}
                                <div class="widgetWrapper p0 mb10">
                                    <img class="adImg" src="{get_thumb($v['thumb'])}" alt="{$v[title]}" />
                                </div>
                                {/if}
                                <h4>{str_cut($v['title'], 140)}</h4>
                                <p>{get_catname($v['catid'])} · {format_time($v['inputtime'])}</p>
                                </a>
                            </li>
        					{/loop}
                        </ul>
                        <div class="widgetWrapper p0">
                            <div class="adBox">
                                <!--
                                    此处调用 广告内容
                                    设置路径：
                                        模块管理 -> 广告管理 -> 添加广告
                                    调用说明：
                                        调用方式：参见后台系统中 广告管理说明
                                -->
                                <a href="https://www.duoguyu.com/" target="_blank" title="演示广告，可删除或在后台设置广告"><img src="https://www.duoguyu.com/dist/images/ad-demo-1.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <!-- **** 普通文章列表 END **** -->
                    
                    <!-- 活跃用户 -->
                    <div class="widgetWrapper mb20">
                        <div class="titleWrapper">
                            <h3 class="title"><b>活跃用户</b></h3>
                        </div>
                        <ul class="memberBox">
                            <!-- 
                                此处调用 会员管理中的活跃用户（积分）
                                如果没开放会员注册，可以将该代码段移除。
                            -->
                            <!-- 演示数据可删除 START -->
                            <li class="item">
                                <img class="avatar" src="https://www.duoguyu.com/dist/images/avatar.gif" alt="演示数据可删除">
                                <p>演示数据</p>
                            </li>
                            <li class="item">
                                <img class="avatar" src="https://www.duoguyu.com/dist/images/avatar.gif" alt="演示数据可删除">
                                <p>演示数据</p>
                            </li>
                            <li class="item">
                                <img class="avatar" src="https://www.duoguyu.com/dist/images/avatar.gif" alt="演示数据可删除">
                                <p>演示数据</p>
                            </li>
                            <li class="item">
                                <img class="avatar" src="https://www.duoguyu.com/dist/images/avatar.gif" alt="演示数据可删除">
                                <p>演示数据</p>
                            </li>
                            <li class="item">
                                <img class="avatar" src="https://www.duoguyu.com/dist/images/avatar.gif" alt="演示数据可删除">
                                <p>演示数据</p>
                            </li>
                            <li class="item">
                                <img class="avatar" src="https://www.duoguyu.com/dist/images/avatar.gif" alt="演示数据可删除">
                                <p>演示数据</p>
                            </li>
                            <li class="item">
                                <img class="avatar" src="https://www.duoguyu.com/dist/images/avatar.gif" alt="演示数据可删除">
                                <p>演示数据</p>
                            </li>
                            <li class="item">
                                <img class="avatar" src="https://www.duoguyu.com/dist/images/avatar.gif" alt="演示数据可删除">
                                <p>演示数据</p>
                            </li>
                            <li class="item">
                                <img class="avatar" src="https://www.duoguyu.com/dist/images/avatar.gif" alt="演示数据可删除">
                                <p>演示数据</p>
                            </li>
                            <!-- 演示数据可删除 END -->
                            {m:get sql="SELECT a.userid,nickname,userpic FROM yzmcms_member a INNER JOIN yzmcms_member_detail AS b ON a.userid=b.userid ORDER BY point DESC" limit="9"}
                            {loop $data $v}
                            <li class="item">
                                <a target="_blank" href="{U('member/myhome/init',array('userid'=>$v['userid']))}">
                                    <img class="avatar" src="{get_thumb($v['userpic'], '/common/static/images/default.gif')}" alt="{$v[nickname]}">
                                    <p>{$v[nickname]}</p>
                                </a>
                            </li>
                            {/loop}
                        </ul>
                    </div>
        
                </div>
                
                
            </div>
        </div>
        
    {m:include "index","footer"}

    </body>
</html>